.center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 10px;
    gap: 20px;
  }

  .button-space {
    padding: 5px;
  }

  .row{
    margin: 10px;
  }

  .flex{
    display: flex;
    flex-direction: column;
    color: black;
  }

  .flex h1{
    font-size: 24px;
  }

  .flex h1,p{
    font-family: "Rowdies", sans-serif;
    text-align: start;    
    margin: 0;
  }

  .flex p{
    color: #5c595e;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .button{
  width: 15rem;
  height: 3rem;
}

  .flex-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

  .arrow-left:focus {
  transform: rotate(180deg);
}

.chart-container{
  color: black;
  text-align: center;
  font-family: "Rowdies", sans-serif;
}

.card{
  text-align: center;
  box-shadow: 8px 8px 9px rgba(208, 195, 226, 0.19);
  padding: 10px;
  border: 2px solid rgba(189, 192, 234, 0.4);
}
  

.flex-horizontal{
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 15px;
}

.flex-horizontal h2{
  font-size: 16px;
  font-family: "Rowdies", sans-serif;
}

.flex-horizontal p{
  font-size: 22px;
}

.produtos{
  width: 25vw;
  padding: 10px 15px 15px 15px;
  background: linear-gradient(to right, rgb(121, 78, 161) 0%, rgb(121, 78, 161) 88%, rgb(141, 91, 187) 100%);
  box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.3);
}

.all{
  margin: 10px;
  width: 84vw;
}

.produtos p{
  color: white;
}

.produtos h2{
  color: white;
  text-align: start;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rowdies", sans-serif;
}

.mat-drawer-content{
  overflow: hidden;
  height: 100vh;
  width: fit-content;
  background: linear-gradient(174deg, rgba(162,45,238,0.3) 0%, rgba(91,112,191,0.3) 100%);
  width: 100vw;
}

.col-3{
  width: 25vw;
  box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.3);
}

.col-3 h2{
  font-size: 18px;
}

.stock{
  background: rgb(121, 78, 161);
  background-image: url('/assets/drink (1).png');
  background-position: center;
  background-size: 40vw;
  background-repeat: no-repeat;
}

.stock h1{
  padding-top: 14px;
  color: white;
}

.stock p{
  font-size: 19px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}

.stock h3{
  font-family: "Rowdies", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fdfcfc;
}

img{
  width: 36px;
  margin-right: 10px;
}

h1{
  font-family: "Rowdies", sans-serif;
  color:  rgb(121, 78, 161);
}

.one{
  background: rgb(121, 78, 161) ;
  background-image: url('/assets/boxes.png');
  background-position:14vw;
  background-size: 18vw;
  background-repeat: no-repeat;
}

.two{
  background: #794ea1 ;
  background-image: url('/assets/dollar.png');
  background-position:12vw;
  background-size: 18vw;
  background-repeat: no-repeat;
}

.three{
  background: rgb(121, 78, 161) ;
  background-image: url('/assets/team.png');
  background-position:14vw;
  background-size: 16vw;
  background-repeat: no-repeat;
}