<mat-drawer-container class="example-container" style="background-color: white;">
    <mat-drawer class="example-sidenav" mode="side" opened>
      
      <div class="button-space">
        <button  class="button" color="primary" [routerLink]="['/userhome']" mat-raised-button>
          Lista de Usuários <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="list"></mat-icon>
        </button>
      </div>
      <div class="button-space">
        <button  class="button" color="primary" [routerLink]="['/userhome/gerenciar']" mat-raised-button>
          Controle de Usuários <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
        </button>
      </div>
      <div class="button-space" >
        <button class="button" color="warn" routerLink="/" mat-raised-button>
          Voltar <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </mat-drawer>
  
    <router-outlet></router-outlet>
  
  </mat-drawer-container>
