<div class="background-img">
<div class="background">
<div class="container">
<mat-card class="register">
  <mat-card-header>
    <h1 style="color: white;">Registro de Usuário</h1>
  </mat-card-header>
    <mat-card-content>
        <form class="example-form  display-flex" [formGroup]="registerForm" (ngSubmit)="register()">
            <mat-form-field class="input" class="example-full-width">
              <mat-label>Nome de Usuário</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="password" type="password">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>

            <div>
              <button mat-raised-button color="primary" type="submit">Registrar</button>
              <button mat-raised-button color="primary" style="margin-left: 10px;" routerLink="/login">Voltar</button>
            </div>
          
          </form>          
    </mat-card-content>
  </mat-card>
</div>

</div>

</div>