.display-flex{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.background{
    background: linear-gradient(174deg, rgba(162,45,238,0.4) 0%, rgba(91,112,191,0.5) 100%);
    width: 100vw;
    height: 100vh;
}

.background-img{
    background-image: url('/assets/correia-transportadora-na-ilustracao-do-conceito-de-armazem.png');
    background-position:center;
    background-size: 125vw;
    background-repeat: no-repeat;
}

.register{
    width: 50vw;
}
.register h1{
    font-family: "Rowdies", sans-serif;
}

