

.display-flex{
    display: flex;
    flex-direction: column;
}

.background{
    background-color: rgba(138, 43, 226, 0.2);
    width: 100vw;
    height: 100vh;
}

.background-img{
    background-image: url('/assets/correia-transportadora-na-ilustracao-do-conceito-de-armazem.png');
    background-position:center
}

.container{
    width: 40vw;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.img{
   width: 600px;
   height: 600px;
}

.text-title{
    padding-top: 80px;
    font-family: "Rowdies", sans-serif;
    color: rgb(95, 1, 95);
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    font-size: 48px;
}

.text{
    font-family: "Rowdies", Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: rgb(75, 70, 70);
    font-size: 20px;
}